<!-- <div class="home-split-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    <h1 class="main-headline">StrategizeIT</h1>
    <h2 class="platform-subtitle">
      IoT Platform
    </h2>
    <div class="description-container">
      <p class="description">
        Device management, data collection, processing, and visualization for your IoT solution.
      </p>
    </div>
    <button mat-raised-button [routerLink]="['/login']" class="login-button">
      Get Started
    </button>
  </div>
</div> -->

<div class="home-split-container">
  <div class="overlay"></div>

  <!-- Header with logo -->
  <header class="header-logo">
    <img src="assets/logoforwelcom.png" alt="StrategizeIT Logo" />
  </header>

  <div class="content-wrapper">
    <h1 class="main-headline">StrategizeIT</h1>
    <h2 class="platform-subtitle">IoT Platform</h2>
    <div class="description-container">
      <p class="description">
        Device management, data collection, processing, and visualization for your IoT solution.
      </p>
    </div>
    <button mat-raised-button [routerLink]="['/login']" class="loginn-button">
      Get Started
    </button>
  </div>
</div>
